In [1]:
import sys
sys.path.append('../')
from src.nodes import extract

# Create an instance of Extract
#ExtractClass = extract.Extract()

# Call the instance method on the instance
#df = ExtractClass.strava_extract()

In [2]:
import pandas as pd

df = pd.read_csv('../test_data/raw/strava_raw.csv')
df.head()

,resource_state,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,id,...,athlete.id,athlete.resource_state,map.id,map.summary_polyline,map.resource_state,average_watts,kilojoules,device_watts,max_watts,weighted_average_watts
0,2,Afternoon Run,401.2,153,153,0.0,Run,Run,NaN,10417205376,...,22152127,1,a10417205376,qcfnEdzslUa@TYMYHSJ]Hm@@sACoA@m@`@A^VfCZzADlBA\,2,NaN,NaN,NaN,NaN,NaN
1,2,Was supposed to run 5k but fell short,4979.2,1255,1364,10.0,Run,Run,0.0,10417197995,...,22152127,1,a10417197995,imfnEhitlUGBEGAuAGw@Mw@k@_CGc@?m@BEd@EbEDr@DJB...,2,NaN,NaN,NaN,NaN,NaN
2,2,Afternoon Ride,9458.4,2280,2424,36.0,Ride,Ride,NaN,10412543879,...,22152127,1,a10412543879,mmfnE|htlUGCCiBG{@UiAYu@M_A?m@DKJEfCAr@CxAFh@L...,2,49.0,111.8,False,NaN,NaN
3,2,Morning Rock Climb,0.0,4200,4200,0.0,RockClimbing,RockClimbing,NaN,10412553315,...,22152127,1,a10412553315,NaN,2,NaN,NaN,NaN,NaN,NaN
4,2,Zwift - z2 spin in Watopia,33046.4,3606,3606,188.0,VirtualRide,VirtualRide,NaN,10406612464,...,22152127,1,a10406612464,ta`fAaf~y^oDiAuEaDaB_Dq@wDHwAb@aAzG}Ev@eAUgAeC...,2,133.7,482.1,True,264.0,137.0

In [3]:
from src.nodes import transform

Transform = transform.Transform()

df_transform = Transform.process_data(df=df)

In [4]:
df_transform.columns

Index(['name', 'distance', 'moving_time', 'elapsed_time',
       'total_elevation_gain', 'sport_type', 'id', 'achievement_count',
       'kudos_count', 'comment_count', 'athlete_count', 'private',
       'visibility', 'average_speed', 'max_speed', 'average_cadence',
       'average_temp', 'has_heartrate', 'average_heartrate', 'max_heartrate',
       'elev_high', 'elev_low', 'pr_count', 'has_kudoed', 'average_watts',
       'kilojoules', 'max_watts', 'weighted_average_watts', 'date', 'time',
       'time_bins'],
      dtype='object')

In [7]:
df.isna().sum()

resource_state                      0
name                                0
distance                            0
moving_time                         0
elapsed_time                        0
total_elevation_gain                0
type                                0
sport_type                          0
workout_type                     1329
id                                  0
start_date                          0
start_date_local                    0
timezone                            0
utc_offset                          0
location_city                    2000
location_state                   2000
location_country                 2000
achievement_count                   0
kudos_count                         0
comment_count                       0
athlete_count                       0
photo_count                         0
trainer                             0
commute                             0
manual                              0
private                             0
visibility                          0
flagged                             0
gear_id                           817
start_latlng                        0
end_latlng                          0
average_speed                       0
max_speed                           0
average_cadence                   866
average_temp                      890
has_heartrate                       0
average_heartrate                 626
max_heartrate                     626
heartrate_opt_out                   0
display_hide_heartrate_option       0
elev_high                         424
elev_low                          424
upload_id                          90
upload_id_str                      90
external_id                        90
from_accepted_tag                   0
pr_count                            0
total_photo_count                   0
has_kudoed                          0
athlete.id                          0
athlete.resource_state              0
map.id                              0
map.summary_polyline              436
map.resource_state                  0
average_watts                     801
kilojoules                        801
device_watts                      801
max_watts                         935
weighted_average_watts            935
dtype: int64